/* Created By їvan Shevchuk @ 
source from:
https://jsfiddle.net/6hvc70jj/3/    

*/

#Wrap{
/*  background: #AFA;
  background:rgba(0,0,0,0.17)  url("./images/elektrika_220V_VG_wifi(0).png")  no-repeat ;
 */

  background:rgba(0,0,0,0.17)  url("./images/elektrika_220V_VG_Screenshot(2)_avtomatu_001.png")  no-repeat ;
  width: 1799px;
  height: 1250px;
  position: relative;
  border: 1px solid #000;
  z-index: 0; 
}
.Dot{
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background: blue;
}
.Dot2{
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background: red;
}


.box1{
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: blue;
}
.box2{
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: red;
}

.box_blue {
  background:rgba(30,10,200,0.17) ;
  width: 900px;
  height: 750px;
  position: relative;
  border: 1px solid #000;
  z-index: 1; 
}

.search-form input[type=text] {
  background:rgba(0,0,0,0.17)
  url("/images/search.png")
  no-repeat 10px 9px;
  border:0;
  color:#0C5176;
  border-radius:0;
  margin:0;
  transition:all 0.2s ease;
  width:230px
}